{% extends 'account/base.html' %}


{% block content %}
{% include 'account/navbar.html' %}

<div id="layoutSidenav">
    {% include 'account/sidebar.html' %}

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Dashboard</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item ">Dashboard</li>
                    <li class="breadcrumb-item active">Wardens</li>
                    <li class="breadcrumb-item active">{{ warden.first_name }} {{ warden.last_name }}</li>
                </ol>

                
                    <div class="row">
                        

                        <div class="col-md-9">
                            <div class="card card-body">
                                <h5>Warden's Information</h5>
                                <hr>
                                <p>Warden Name: {{ warden.first_name }} {{ warden.last_name }}</p>
                                
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card card-body">
                                <h5>Actions</h5>
                                <hr>
                                <p>
                                    <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'update_warden' warden.id %}">Update Warden</a>
                                </p>
                                <p>
                                    <a class="btn btn-outline-danger btn-sm btn-block" href="{% url 'delete_warden' warden.id %}">Delete Warden</a>
                                </p>
                            </div>
                        </div>

                    </div>
            
            </div>
        </main>
    </div>
</div>

{% endblock content %}

