{% extends 'account/base.html' %}

{% block content %}

{% include 'account/navbar.html' %}

<div id="layoutSidenav">

    {% include 'account/sidebar.html' %}
    
    <div id="layoutSidenav_content">


        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">

                <div class="col-md-5 border-right">
                    
                        <div class="p-3 py-5">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right">Apply For Hostel</h4>
                            </div>
                            
                            <form action="" method="post">
                                {% csrf_token %}
                              <div class="fields">{{ form.as_p }}</div>
                              <input class="button-custom" type="submit" value="submit">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock content %}