<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white nb-3" id="total-applied">
                <div class="card-header">
                    <h5 class="card-title">Total Applied</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title"> </h5>
                </div>
    
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white nb-3" id="total-approved">
                <div class="card-header">
                    <h5 class="card-title">Total Approved</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title"> </h5>
                </div>
    
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white nb-3" id="total-pending">
                <div class="card-header">
                    <h5 class="card-title">Total Pending</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title"> </h5>
                </div>
    
            </div>
        </div>
    </div>
</div>