{% extends 'account/base.html' %}


{% block content %}
{% include 'account/navbar.html' %}

<div id="layoutSidenav">
    {% include 'account/sidebar.html' %}

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
            
                <h1 class="mt-4">Dashboard</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item ">Dashboard</li>
                    <li class="breadcrumb-item active">Hostels</li>
                </ol>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Hostels Records
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Warden</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Warden</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                            <tbody>

                                {% for hostel in hostels %}
                                    <tr>
                                        <td>{{ hostel.name }}</td>
                                        <td>{{ hostel.caretaker }}</td>
                                        <td>
                                            <div class="sb-nav-link-icon">
                                                <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'hostel_single' hostel.id %}">View</a>
                                                <a class="btn btn-outline-warning btn-sm btn-block" href="{% url 'update_hostel' hostel.id %}">Update</a>
                                                <a class="btn btn-outline-danger btn-sm btn-block" href="{% url 'delete_hostel' hostel.id %}">Delete</a>
                                            </div>
                                        
                                        </td>
                                    </tr>
                                {% endfor %}
                                
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

{% endblock content %}

Welcome